h1 {
    font-family: sans-serif;
    text-align: center;
    color: rgb(66, 61, 61);
  }
  p {
    font-family: sans-serif;
    text-align: center;
    color: gray;
  }
  a{
    color: darkred;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  #todays-challenge{
    color: rgb(165, 111, 45);
  }